


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Roboto", sans-serif;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 15px;
  /* border: 2px solid tomato; */
}

main {
   height: calc(100vh - 70px);
   display: flex;
   background-color: #f9f9f9;
 }

 .content{
  height: 100%;
  width: 56%;
  background-color: #f9f9f9;
  overflow-y: hidden;

} 

.left {
  display: flex;
  align-items: center;
 }
 
 .left #menu {
  padding: 0 7px;
  cursor: pointer;
 }

 .search {
  display: flex;
 }
 
 .search form {
  display: flex;
  border: 1px solid #ddd;
  height: 45px;
 }

 .search input {
  width: 600px;
  padding:10px;
  border: 0;
  height: 100%;
  border-radius: 2px 0 0 2px
}

input:focus {
  outline: none;
  border: 1px solid #ddd;
}

.search button {
  height: 100%;
  width: 60px;
  border: none;
}
 
.mic {
  margin-top: 10px;
}


.material-icons {
  color: rgb(100, 100, 100);
  padding: 0 7px;
  cursor: pointer;
}

.video img{
  width:200px;
  border-radius: 8px;;
}



.side-bar {
  background-color: #f9f9f9;
  height: 100%;
  padding: 15px 15px;
  border-top: 1px solid #ddd;
 
}

 .video {
  display: flex;
  flex-direction: row;
  margin-bottom:32px;
 
}

.title{
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.play_video{
  text-align: right;
}

.play-details{
  padding-left: 68px;
 gap: 6px;
}

.details-img{
  display: flex;
  align-items: center;
}
.details-img img{
    border-radius: 50%;
}

.details-info{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 15px;
}



@media (max-width: 768px) {
  .side-bar {
    display: none;
  }
}




